*
{
    padding:0;
    margin:0;
    font-family: Roboto;
}
ul
{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.hero
{
    padding:3em 12em 5em 12em;
    background-color:#1f2937;
    display: flex;
    flex-direction: column;
    row-gap: 70px;;
    /* justify-content: center; */
     /* align-items: center; */
}
 .lh
{
    color:#f9faf8;
    font-weight: bolder;
    font-size:24px;
}
.l1,.l2,.l3
{
    color:#e5e7eb;
    font-size:18px;
    font-weight: 100;
  
}
.l1
{
    margin-left :auto;
}
.header
{
    display: flex;
    gap:10px;
}
.container-header
{
    display: flex;
    column-gap: 30px;

}
.left
{
    display:flex;
    flex-direction:column;
    width: 50%;
    row-gap:10px;
}

.maintext
{
    color:#f9faf8;
    font-weight: bolder;
    font-size:48px;
}
.subtext
{
    color:#e5e7eb;
    font-size:18px;
}
.sign-up
{
    padding:5px;
    border-radius: 10%;
    background-color: #3882f6;
    color: #e5e7eb;
    align-self: flex-start;
    border:none;
}
.right
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gray;
    color:#e5e7eb;
    flex-grow:1;
}

.info
{
    
    display: flex;
    flex-direction: column;   
    padding-bottom:100px;
}
.info-heading
{
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;;
    color:#1f2937;
    font-weight: 1000;
}
.cards
{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
}
.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box
{
    width:150px;
    height: 150px;
    border: 5px solid;
    border-radius: 10%;
    border-color: #3882f6;
    
}
.card-text
{
    text-align: center; 
    width:150px;
    color:gray;
}

.quote
{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: #e5e7eb;
    padding:100px 150px ;
    
}
.text{
    font-size: 32px;
    font-weight: 100;
    color: #1f2937;
}
.author
{
    text-align:end ;
    margin-right: 10px;;
    color:#1f2937;
    font-weight: 900;
    font-size: larger;
}

.connect-container
{
    display:flex;
    padding: 30px 30px;
    background-color: #3882f6;
    justify-content: space-around;
}
.connect
{
    padding: 60px 220px ;
}

.text-connect
{
    color:#f9faf8;
}
.signup{
    padding:10px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-color: #e5e7eb;
    border:1px solid;
    border-radius: 10%;
}

.footer
{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding:30px;
}